@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">BlackJack</h5>
                    <p class="card-text">Тренировки по BlackJack</p>
                    <a asp-controller="BlackJack" asp-action="BlackJackQuestion" class="btn btn-primary">Тренироваться</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Roulette</h5>
                    <p class="card-text">Тренировки по Roulette</p>
                    <a asp-controller="Roulette" asp-action="RouletteQuestion" class="btn btn-primary">Тренироваться</a>
                </div>
            </div>
        </div>
    </div>

</div>