
@{
    ViewData["Title"] = "BlackJackIndex";
}

<h1>BlackJack</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="BlackJack" asp-action="BlackJackQuestion">Beginner 10 - 50</a>
<a class="nav-link text-dark" asp-area="" asp-controller="BlackJack" asp-action="BlackJackQuestion">Beginner 5 - 50 step 5</a>
<a class="nav-link text-dark" asp-area="" asp-controller="BlackJack" asp-action="BlackJackQuestion">Beginner 10 - 100</a>
<a class="nav-link text-dark" asp-area="" asp-controller="BlackJack" asp-action="BlackJackQuestion">Beginner 5 - 100 step 5</a>
<a class="nav-link text-dark" asp-area="" asp-controller="BlackJack" asp-action="BlackJackQuestion">Beginner 5 - 200 step 5</a>